<center>
    <a class="github-button" href="https://github.com/nnja/practical_python" data-icon="octicon-star"
        data-show-count="true" aria-label="Star nnja/practical_python on GitHub">Star</a>

    <a class="github-button" href="https://github.com/nnja/practical_python/fork" data-icon="octicon-repo-forked"
        data-show-count="true" aria-label="Fork nnja/practical_python on GitHub">Fork</a>

    <a class="github-button" href="https://github.com/nnja/practical_python/archive/master.zip"
        data-icon="octicon-cloud-download" aria-label="Download nnja/practical_python on GitHub">Download</a>

    <p>Built with the <a href="https://github.com/nnja/practical_python">Learn</a> theme.<i class="fas fa-heart"></i>
    </p>
    <br />
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License"
            style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />
    Copyright Nina Zakharenko 2020 ©.<br>
    The course content is licensed under a <a rel="license"
        href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons
        Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>